header {
  position: absolute;
  width: 100%;
  top: 0;
}

.header-container {
  width: 100%;
  height: 70px;
  background-color: #7f0000;
  padding: 0 5%;
  color: white;
  position: fixed;
  top: 0;
}

.logo {
  font-size: 40px;
  font-family: "Roboto Black", sans-serif;
}

.header-content {
  width: 100%;
  justify-content: space-between;
  max-width: 1124px;
}

.nav-menu {
  position: relative;
}

.menu-items {
  padding: 10px;
  border-radius: 0 20px;
  li {
    font-size: 12px;
  }
}

.menu-items:hover {
  background-color: #540000;
}

.items-container {
  position: absolute;
  top: -103px;
  right: 0;
  border-radius: 20px;
  background-color: #000000;
  overflow: hidden;
  opacity: 0;

}


i {
  margin-right: 10px;
}

aside {
  position: fixed;
  min-height: 89vh;
  background-color: #7f0000;
}

.items {
  padding: 15px;
  text-align: center;
  i {
    font-size: 14px;
  }
}
#category {
  background-color: #5400007a;
  overflow: hidden;
  height: 1px;
}

.search {
  width: 40%;
  position: relative;
  label {
    width: 100%;
    input {
      padding: 5px;
      width: 100%;
      margin: 0;
    }
  }
  .btn-search {
    background-color: #000000;
    padding: 7px;
    text-align: center;
    width: 45px;
    i {
      margin: 0;
      font-size: 18px;
    }
  }
}

.products {
  background-color: black;
  position: absolute;
  top: 32px;
  .product {
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid;
  }
}

main {
  margin: 70px auto 0 auto;
  padding: 20px;
  max-width: 1124px;
}
.cart {
  position: relative;
  .count {
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 11px;
    border-radius: 10px;
    width: 15px;
    font-weight: bold;
    text-align: center;
  }
}

.auth-model {
  width: 100%;
  height: 100%;
  background-color: #190000e6;
  z-index: -1;
  position: fixed;
  top: 0;
  flex-wrap: wrap;
  opacity: 0;
  transition: all 1s ease-in;
}

.auth-container {
  position: relative;
}

.auth {
  background-color: #540000;
  padding: 20px;
  border-radius: 20px;
}

.btn-cancel {
  position: absolute;
  right: 5px;
  top: 60px;
  i {
    font-size: 18px;
  }
}

.nav-auth {
  width: 100%;
  margin-bottom: 1rem;
}

.btn-auth {
  margin: 0 15px;
}

@media all and (max-width: 750px) {
  aside {
    max-height: none;
    top: unset;
    bottom: 0;
    min-height: auto;
    width: 100%;
    nav {
      .aside-menu {
        display: flex;
        #category {
          display: flex;
        }
      }
    }
  }
}
